FirstSunrise.mp3
Portfolio-main/.DS_Store
Portfolio-main/.gitignore
Portfolio-main/index.html
Portfolio-main/script.js
Portfolio-main/styles_responsive.css
Portfolio-main/Images/arrow-right-short.svg
Portfolio-main/Images/github-icon.jpeg
Portfolio-main/Images/instagram-icon.png
Portfolio-main/Images/Item-1_SUTD-Camp_Team-3.jpg
Portfolio-main/Images/Item-2_SUTD-Camp_Presentation.jpg
Portfolio-main/Images/Item-3_PREPMUN24.jpeg
Portfolio-main/Images/Item-4_Jakarta-Trip24_Sigmas-Ahoy.jpeg
Portfolio-main/Images/Item-5_Taiwan-Trip24.jpeg
Portfolio-main/Images/Item-6_Jakarta-Trip24_GOJEK-Presentation.jpg
Portfolio-main/Images/linkedin-icon.png
Portfolio-main/Images/placeholder.jpg