@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --navbarh: 40px;
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

html {
    scrollbar-width: 0px;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: none;
}

* {
    font-family: 'Lato', sans-serif !important;
    /* font-weight: bold; */

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --navbarh: 40px;
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: none;
}

* {
    font-family: 'Lato', sans-serif !important;
    /* font-weight: bold; */

}

body {
    background-color: #161515;
    color: white !important;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* padding-top: var(--navbarh); */
    color: white;
}

hr {
    width: 50vw !important;
}

.bio {
    min-width: 40vw;
    width: min-content;
    margin-left: calc(20vw / 3);
    margin-right: calc(20vw / 6);
}

.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.intro-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.intro-text h1 {
    width: 100%;
    height: 100%
}

.carousel-container {
    position: relative;
    width: 40vw;
    padding-left: calc(20vw / 6);
    padding-right: calc(20vw / 3);
    overflow: hidden;
}

.carousel-wrapper {
    width: 40vw;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 40vw;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    flex-shrink: 0;
}

.pagination-arrows {
    position: absolute;
    width: 40vw;
    height: 100%;
    overflow: hidden;
}

.prev,
.next {
    transform: scale(1.5) translate(0,-50%);
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px
}

.prev {
    left: 0px;
    border-radius: 0px 15px 15px 0px;
}

.next {
    right:0px;
    border-radius: 15px 0px 0px 15px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, background 0.3s;
    filter: invert(1);
}

.dot.active {
    background: #333;
    opacity: 1;
}

.dot:hover {
    opacity: 1;
}

/* CSS for Experiences Section */

#experiences {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #00000000;
}

#experiences:hover > .experience-card::after {
    opacity: 1;
}

.experience-card {
    cursor: pointer;
    display: flex;
    height: 700px;
    flex-direction: column;
    position: relative;
    width: 300px;  
    background-color: #212020;
    border-radius: 15px;
    padding: 0.25rem;
    flex: 1 1 500px; /* Fixed size for all cards */
    margin: 0.25rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-sizing: border-box;
    max-width: 500px; /* Ensures all boxes remain the same size */
    aspect-ratio: 3 / 4;
    transition: transform 0.2s linear;
}

.experience-card:hover {
    transition: transform 0.2s linear;
}

.experience-card:hover::before {
    opacity: 1;
}

.experience-card::before,
.experience-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.experience-card::before {
background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.07),
    transparent 40%
    );
    z-index: 3;
}

.experience-card::after {  
background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.6),
    transparent 40%
    );
    z-index: 1;
}


.experience-card > .experience-card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* Experience Card Contents */
.experience-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.experience-card h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
}
.experience-card p {
    font-size: 0.9rem;
    color: #ccc;
}

.IE-break {
    margin-top: 150px;
    margin-bottom: 50px
}

.social-box {
    flex: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #9c9c9c55;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, background 0.3s;
    width: auto;
    min-width: 50px;
    max-height: auto;
    z-index: 50000;
}

.social-box:hover {
    background-color: #62616185;
    transform: scale(1.2) translateY(-10%) translateX(-10%);
    transition: transform 0.3s, background 0.3s
}

.social-box img {
    max-width: 30px;
    padding: 5px;
    transition: transform ease 0.3s, padding 0.3s
}

.social-box:hover img {
    transform: scale(1.2) translateY(0%);
    padding-left: 11px;
    padding-right: 11px;
    transition: padding-right 0.3s, padding-left 0.3s, transform 0.3s
}

.icon {
    transition: transform 0.3s
}

.icon img:hover{
    transform: translateY(-10%) scale(1.2);
    transition: transform 0.3s;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: unset;
}

.social-box img {
    padding: 5px;
    display: block;
    margin: auto;
}

.social-box img:nth-child(3) {
    height: 50px !important;
    width: 50px !important;
    padding: 5px;
    display: block;
    margin: auto;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

#navbar {
    border-left: 0px solid #2e2d2d;
    border-right: 0px solid #2e2d2d;
    border-bottom: 5px solid #2e2d2d;
    border-radius: 0px 0px 15px 15px;
    background-color: #2e2d2d;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
    height: var(--navbarh);
    z-index: 200;
    margin-bottom: 20px;
}

#navbar a {
    flex: 1;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0 0 15px 15px;
    width: 152.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s
}

#navbar a {
    transition: transform 0.3s ease; /*Transition for transform*/
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    transform: translateY(10%); /* Move the link down */
    transition: transform 0.3s, background-color 0.3s; /* Add a transition for both */
}

/* 
#blob {
    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 1;
    z-index: -100;
}

#blur {
    top: 0%;
    right: 0%;
    height: 200vh;
    width: 200vw;
    position: fixed;
    z-index: -50;
    backdrop-filter: blur(12vmax);
} */

.experiences-readmore {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#exp-readmore {
    border: 1px solid rgb(200, 200, 200);
    padding: 7px;
    border-radius: 15px;
    display: flex;
    max-height: min-content;
    justify-content: center;
    align-items: center;
}

#exp-readmore img {
    height: 30px;
    aspect-ratio: 1 / 1;
    filter: invert(1)
}

#exp-readmore p {
    padding: 0px;
    margin: 0px
}