@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --navbarh: 40px;
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

html {
    scrollbar-width: 0px;
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: none;
}

* {
    font-family: 'Lato', sans-serif !important;
    /* font-weight: bold; */

}


:root {
    --navbarh: 40px;
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-drag: none;
}

* {
    font-family: 'Lato', sans-serif !important;
    /* font-weight: bold; */

}

body {
    background-color: #161515;
    color: white !important;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* padding-top: var(--navbarh); */
    color: white;
}

hr {
    width: 50vw !important;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    z-index: 99999999;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    margin-bottom: 20px;
}

.loader-wrapper .progress-bar {
    width: 60%;
    height: 50px;
    background-color: #161515;
    border-radius: 50px;
    overflow: hidden;
}

.loader-wrapper .progress-bar .progress {
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: width 0.1s linear;
}

.bio {
    min-width: 40vw;
    width: min-content;
    margin-left: calc(20vw / 3);
    margin-right: calc(20vw / 6);
    text-align: center;
}

#home {
    width: fit-content;
    margin-left: calc(20vw / 3);
    margin-right: calc(20vw / 6);
    font-family: 'Lato', sans-serif; 
    font-weight: 700; 
    font-size: 70px; 
    margin-bottom: 50px; 
    margin-top: 0px;
    text-align: center;
}

.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.intro-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.intro-text h1 {
    width: 100%;
    height: 100%
}

.carousel-container {
    position: relative;
    width: 40vw;
    padding-left: calc(20vw / 6);
    padding-right: calc(20vw / 3);
    overflow: hidden;
}

.carousel-wrapper {
    width: 40vw;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}

.carousel {
    /* overflow: hidden; */
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.carousel-item {
    width: 40vw;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    flex-shrink: 0;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Images/Item-6_Jakarta-Trip24_GOJEK-Presentation.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(24px);
    z-index: -1;
}

.pagination-arrows {
    position: absolute;
    width: 40vw;
    height: 100%;
    overflow: hidden;
}

.prev,
.next {
    transform: scale(1.5) translate(0,-50%);
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background 0.2s;
}

.carousel-wrapper:hover .prev {
    transform: scale(1.5) translate(0,-50%) translateX(0);
    transition: transform 0.3s;
}

.carousel-wrapper:hover .next {
    right:0px;
    transform: scale(1.5) translate(0,-50%) translateX(0);
    transition: transform 0.3s
}

.carousel-wrapper:hover > .dot {
    transform: scale(1)
}

.prev {
    left: 0px;
    border-radius: 0px 15px 15px 0px;
    transform: scale(1.5) translate(0,-50%) translateX(-20px);
    transition: transform 0.3s
}

.next {
    right:0px;
    border-radius: 15px 0px 0px 15px;
    transform: scale(1.5) translate(0,-50%) translateX(20px);
    transition: transform 0.3s
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.2s;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s, background 0.3s;
    filter: invert(1);
    transform: scale(0)
}

.dot.active {
    background: #333;
    opacity: 1;
}

.dot:hover {
    opacity: 1;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.carousel-item img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease-in-out;
}

/* CSS for Experiences Section */

#experiences {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: #00000000;
}

#experiences:hover > .experience-card::after {
    opacity: 1;
}

.experience-card {
    cursor: pointer;
    display: flex;
    height: 700px;
    flex-direction: column;
    position: relative;
    width: 450px;  
    background-color: #212020;
    border-radius: 15px;
    padding: 10px;
    flex: 1 1 500px; /* Fixed size for all cards */
    /* margin: 0.25rem; */
    text-align: center;
    color: #fff;
    font-size: larger;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    box-sizing: border-box;
    max-width: 500px; /* Ensures all boxes remain the same size */
    aspect-ratio: 3 / 4;
    transition: transform 0.2s linear;
}

.experience-card:hover {
    transition: transform 0.2s linear;
}

.experience-card:hover::before {
    opacity: 1;
}

.experience-card::before,
.experience-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.experience-card::before {
background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.1),
    transparent 40%
    );
    z-index: 3;
}

.experience-card::after {  
background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.6),
    transparent 40%
    );
    z-index: 1;
}


.experience-card > .experience-card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* Experience Card Contents */
.experience-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.experience-card h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    color: white
}
.experience-card p {
    font-size: 1.2rem;
    color: #ccc;
    z-index: 50000;
}

.IE-break {
    margin-top: 150px;
    margin-bottom: 50px
}

/* Social Box */

.social-box{
    flex: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #9c9c9c55;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out, right 0.3s ease-in-out, background 0.3s;
    width: auto;
    min-width: 50px;
    max-height: auto;
    z-index: 50000;
    transform: scale(0) translateX(200px)
}

.social-box:hover {
    background-color: #62616185;
    transform: scale(1.2) translateY(-10%) translateX(-10%) scaleX(1.2);
    transition: transform 0.3s, background 0.3s
}

.social-box img {
    max-width: 30px;
    padding: 5px;
    transition: transform ease 0.3s, padding 0.3s
}

.social-box:hover img {
    transform: scale(1.2);
    padding-left: 11px;
    padding-right: 11px;
    transition: padding-right 0.3s, padding-left 0.3s, transform 0.3s
}

.icon {
    transition: transform 0.3s
}

.icon img:hover{
    transform: translateY(-10%) scale(1.2);
    transition: transform 0.3s;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: unset;
}

.social-box img {
    padding: 5px;
    display: block;
    margin: auto;
}

.social-box img:nth-child(3) {
    height: 50px !important;
    width: 50px !important;
    padding: 5px;
    display: block;
    margin: auto;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

/* #navbar {
    border-left: 0px solid #2e2d2d;
    border-right: 0px solid #2e2d2d;
    border-bottom: 5px solid #2e2d2d;
    border-radius: 0px 0px 15px 15px;
    background-color: #2e2d2d;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s;
    height: var(--navbarh);
    z-index: 200;
    margin-bottom: 20px;
}

#navbar a {
    flex: 1;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0 0 15px 15px;
    width: 152.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s
}

#navbar a {
    transition: transform 0.3s ease; /*Transition for transform
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    transform: translateY(10%); /* Move the link down 
    transition: transform 0.3s, background-color 0.3s; /* Add a transition for both
} */

/* 
#blob {
    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 1;
    z-index: -100;
}

#blur {
    top: 0%;
    right: 0%;
    height: 200vh;
    width: 200vw;
    position: fixed;
    z-index: -50;
    backdrop-filter: blur(12vmax);
} */

.experiences-readmore {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#exp-readmore {
    border: 1px solid rgb(200, 200, 200);
    padding: 7px;
    border-radius: 15px;
    display: flex;
    max-height: min-content;
    justify-content: center;
    align-items: center;
}

#exp-readmore img {
    height: 30px;
    aspect-ratio: 1 / 1;
    filter: invert(1)
}

#exp-readmore p {
    padding: 0px;
    margin: 0px
}

/* Existing styles remain unchanged */

@media (max-width: 600px) {
    body {
        text-align: left;
    }
    
    .bio, #home {
        width: 90vw;
        margin: 0 auto;
        font-size: 40px;
    }

    #home {
        font-size: 40px !important;
    }

    .bio {
        font-size: 20px !important;
        margin-top: 20px;
    }
    
    #me {
        font-size: 14px !important;
    }

    .loader-wrapper .progress-bar {
        width: 80%;
    }
    
    .intro-page {
        padding: 0px;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        text-align: center;
    }
    
    .intro-text {
        width: 90%;
        margin-bottom: 20px;
    }
    
    .carousel-container {
        width: 90vw;
        padding: 0;
    }
    
    .carousel-wrapper, .carousel-item {
        width: 90vw;
    }
    
    .prev, .next {
        transform: scale(1.2) translate(0, -50%);
        padding: 5px;
    }
    
    .pagination-arrows {
        width: 90vw;
    }
}


/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .intro-page {
        flex-direction: column-reverse;
        padding: 30px;
    }
    .intro-text {
        width: 80%;
        padding: 20px;
    }
    .intro-text h1 {
        font-size: 2rem;
    }
    .carousel-container {
        padding: 0 15px;
    }
    .carousel-wrapper, .carousel img {
        width: 100%;
    }
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");#exp-readmore img{height:1.875pc;}[class~=experience-card]:hover::before{opacity:1;}.carousel-item::before,[class~=loader-wrapper],[class~=carousel-item] img,[class~=intro-text] h1{width:100%;}#home{width:fit-content;}:root,:root{--navbarh:2.5pc;}:root,:root{--bg-color:#141414;}.carousel-item::before,[class~=intro-text] h1{height:100%;}.carousel-item::before{content:"";}.carousel-item::before{position:absolute;}:root,:root{--card-color:#171717;}[class~=loader-wrapper] [class~=progress-bar]{width:60%;}#home{font-family:"Lato",sans-serif;}#home{font-weight:700;}html{scrollbar-width:0in;}[class~=loader-wrapper] [class~=progress-bar]{height:37.5pt;}[class~=loader-wrapper]{position:fixed;}[class~=loader-wrapper],.carousel-item::before{top:0;}#home{font-size:70px;}html,html{scroll-behavior:smooth;}html,html{user-select:none;}[class~=loader-wrapper],[class~=loader-wrapper] [class~=progress-bar]{background-color:#161515;}[class~=social-box]:hover img{transform:scale(1.2);}.carousel-item::before,[class~=loader-wrapper]{left:0;}[class~=social-box]:hover img{padding-left:.114583333in;}#home{margin-bottom:50px;}html,html{-webkit-user-drag:none;}[class~=intro-page],[class~=loader-wrapper]{height:100vh;}.carousel-item::before{background-image:url("Images/Item-6_Jakarta-Trip24_GOJEK-Presentation.jpg");}#exp-readmore img{aspect-ratio:1/1;}[class~=intro-text],[class~=intro-page],[class~=loader-wrapper],#experiences{display:flex;}[class~=intro-text],[class~=loader-wrapper]{flex-direction:column;}.carousel-item::before{background-size:cover;}.carousel-item::before{background-position:center;}[class~=intro-page],[class~=loader-wrapper],[class~=intro-text]{justify-content:center;}.carousel-item::before{filter:blur(24px);}.carousel-item::before{z-index:-1;}#home{margin-top:0px;}[class~=loader-wrapper],[class~=intro-text],#experiences,[class~=intro-page]{align-items:center;}[class~=loader-wrapper]{transition:opacity .5s ease;}[class~=loader-wrapper]{z-index:99999999;}.loading-text{position:absolute;}.loading-text{top:50%;}.loading-text{left:50%;}[class~=carousel-item] img{aspect-ratio:4/3;}[class~=loader-wrapper] [class~=progress-bar]{border-radius:.520833333in;}[class~=social-box]:hover img{padding-right:11px;}.loading-text{transform:translate(-50%,-50%);}[class~=carousel-item] img{object-fit:cover;}.loading-text{font-size:20px;}.loading-text{margin-bottom:15pt;}[class~=bio]{min-width:40vw;}[class~=bio]{width:min-content;}#home,[class~=bio]{text-align:center;}.carousel-container,[class~=carousel-wrapper],[class~=loader-wrapper] [class~=progress-bar],[class~=pagination-arrows]{overflow:hidden;}#exp-readmore img{filter:invert(1);}[class~=social-box]:hover img{transition:padding-right .3s,padding-left .3s,transform .3s;}[class~=intro-text]{width:50%;}[class~=carousel-item] img{display:block;}body{background-color:#161515;}[class~=prev]:hover,[class~=next]:hover{background:rgba(0,0,0,.1);}#experiences{margin-top:50px;}.icon img:hover{transform:translateY(-10%) scale(1.2);}[class~=carousel-item] img{transition:filter .3s ease-in-out;}[class~=intro-text]{margin-left:0;}#exp-readmore p{padding-left:0pt;}[class~=intro-text]{margin-bottom:0;}[class~=intro-text]{margin-right:0;}.loader-wrapper .progress-bar .progress{width:0%;}#experiences{margin-bottom:50px;}[class~=intro-text]{margin-top:0;}.carousel-container{position:relative;}[class~=pagination-arrows],[class~=carousel-wrapper],.carousel-container,[class~=carousel-item]{width:40vw;}[class~=prev]:hover,[class~=next]:hover{transition:background .2s;}body{color:white !important;}#exp-readmore p{padding-bottom:0pt;}#exp-readmore p{padding-right:0pt;}.prev,body{color:white;}#experiences{flex-wrap:wrap;}[class~=experience-card]::before{border-radius:inherit;}[class~=carousel-wrapper],[class~=carousel]{display:flex;}[class~=carousel-wrapper]{border-radius:15px;}[class~=carousel]{transition:transform .5s ease-in-out;}#experiences{gap:10px;}[class~=carousel]{white-space:nowrap;}[class~=carousel-item]{aspect-ratio:4/3;}[class~=experience-card]::after,[class~=experience-card]::before{content:"";}#experiences{width:100vw;}[class~=carousel-item]{object-fit:cover;}.loader-wrapper .progress-bar .progress,[class~=experience-card]::after,[class~=experience-card]::before,[class~=pagination-arrows]{height:100%;}[class~=carousel-item]{flex-shrink:0;}[class~=experience-card]::before,.prev,.next,[class~=pagination-arrows]{position:absolute;}.icon img:hover{transition:transform .3s;}[class~=social-box] img:nth-child(3){height:.520833333in !important;}[class~=experience-card]::before{left:0pt;}[class~=experience-card]::before{opacity:0;}.next,.prev{transform:scale(1.5) translate(0,-50%);}.prev,.next{top:50%;}[class~=dot][class~=active]{background:#333;}.next,.prev{background:rgba(0,0,0,0);}[class~=dot]:hover,[class~=dot][class~=active]{opacity:1;}#experiences{justify-content:center;}.prev{border-left-width:medium;}.prev{border-bottom-width:medium;}.prev{border-right-width:medium;}#experiences{padding-left:0pt;}.prev{border-top-width:medium;}.prev{border-left-style:none;}[class~=experience-card]::before,[class~=experience-card]::after{top:0pc;}.prev{border-bottom-style:none;}[class~=experience-card]::before,[class~=experience-card]::after{transition:opacity 500ms;}.prev{border-right-style:none;}.prev{border-top-style:none;}.prev{border-left-color:currentColor;}#experiences{padding-bottom:0pt;}.prev{border-bottom-color:currentColor;}#experiences{padding-right:0pt;}#exp-readmore p,#experiences{padding-top:0pt;}#experiences{background-color:#000;}.prev{border-right-color:currentColor;}[class~=experience-card]:hover{transition:transform .2s linear;}[class~=experience-card]::before,[class~=experience-card]::after{width:100%;}[class~=experience-card] > [class~=experience-card-content],[class~=experience-card]::after{border-radius:inherit;}.prev{border-top-color:currentColor;}[class~=social-box] img:nth-child(3){width:.520833333in !important;}.prev{border-image:none;}.next,.prev{cursor:pointer;}.next,.prev{padding-left:.625pc;}.prev{padding-bottom:.625pc;}.prev{padding-right:.625pc;}.prev{padding-top:.625pc;}.prev{transition:background .2s;}#exp-readmore{border-left-width:.0625pc;}#exp-readmore{border-bottom-width:.0625pc;}[class~=social-box] img:nth-child(3){padding-left:.3125pc;}#exp-readmore{border-right-width:.0625pc;}[class~=experience-card]::after,[class~=prev]{left:0pt;}[class~=experience-card]::after{opacity:0;}[class~=experience-card] > [class~=experience-card-content]{background-color:var(--card-color);}.next{color:white;}[class~=experience-card]::after{position:absolute;}.next{border-left-width:medium;}.next{border-bottom-width:medium;}.next{border-right-width:medium;}[class~=experience-card] > [class~=experience-card-content]{display:flex;}[class~=experience-card] > [class~=experience-card-content]{flex-direction:column;}[class~=experience-card]::before{background:radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),rgba(255,255,255,.1),transparent 40%);}.next{border-top-width:medium;}#exp-readmore p{margin-left:0pt;}.next{border-left-style:none;}[class~=experience-card]::before{z-index:3;}.next{border-bottom-style:none;}.next{border-right-style:none;}.next{border-top-style:none;}body,[class~=dots]{text-align:center;}body{justify-content:center;}.next{border-left-color:currentColor;}.next{border-bottom-color:currentColor;}[class~=experience-card] > [class~=experience-card-content]{flex-grow:1;}.next{border-right-color:currentColor;}.next{border-top-color:currentColor;}#exp-readmore{border-top-width:.0625pc;}.next{border-image:none;}[class~=experience-card] > [class~=experience-card-content]{inset:.0625pc;}[class~=experience-card]::after{background:radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),rgba(255,255,255,.6),transparent 40%);}#exp-readmore{border-left-style:solid;}[class~=experience-card]::after{z-index:1;}[class~=experience-card] > [class~=experience-card-content]{padding-left:10px;}[class~=experience-card] > [class~=experience-card-content],.next{padding-bottom:.625pc;}[class~=experience-card] img{width:100%;}[class~=experience-card] img{height:auto;}.next,[class~=experience-card] > [class~=experience-card-content]{padding-right:.625pc;}#exp-readmore{border-bottom-style:solid;}[class~=experience-card] > [class~=experience-card-content],.next{padding-top:.625pc;}[class~=experience-card] img{border-radius:15px;}.next{transition:background .2s;}[class~=prev]{border-radius:0px .9375pc 15px 0px;}#exp-readmore p{margin-bottom:0pt;}[class~=prev]{transform:scale(1.5) translate(0,-50%) translateX(-20px);}.loader-wrapper .progress-bar .progress{background-color:#fff;}[class~=next],[class~=prev]{transition:transform .3s;}.experience-card h3,body{margin-left:0;}.experience-card h3{margin-bottom:.5rem;}.experience-card h3{margin-right:0;}.experience-card h3{margin-top:1rem;}[class~=next]{right:0pt;}[class~=next]{border-radius:.9375pc 0pc 0in .9375pc;}[class~=social-box] img:nth-child(3),[class~=social-box] img{padding-bottom:.3125pc;}[class~=next]{transform:scale(1.5) translate(0,-50%) translateX(20px);}#exp-readmore{border-right-style:solid;}.experience-card h3{font-size:1.5rem;}.experience-card h3{color:white;}#exp-readmore p{margin-right:0pt;}[class~=dots]{margin-top:10px;}[class~=dot]{height:9pt;}[class~=dot]{width:9pt;}.experience-card p{font-size:1.2rem;}[class~=dot]{margin-left:3.75pt;}[class~=dot]{margin-bottom:3.75pt;}[class~=dot]{margin-right:3.75pt;}.loader-wrapper .progress-bar .progress{transition:width .1s linear;}[class~=dot]{margin-top:3.75pt;}[class~=dot]{background:#bbb;}[class~=dot]{border-radius:50%;}[class~=dot]{display:inline-block;}#exp-readmore{border-top-style:solid;}.experience-card p{color:#ccc;}[class~=experience-card],[class~=dot]{cursor:pointer;}[class~=dot]{opacity:.5;}.experience-card p{z-index:50000;}[class~=dot]{transition:opacity .3s,background .3s;}[class~=dot]{filter:invert(1);}#exp-readmore p{margin-top:0pt;}#exp-readmore{border-left-color:#c8c8c8;}#exp-readmore{border-bottom-color:#c8c8c8;}[class~=social-box] img,[class~=social-box] img,[class~=social-box] img:nth-child(3){padding-right:.3125pc;}#exp-readmore{border-right-color:#c8c8c8;}[class~=dot]{transform:scale(0);}[class~=social-box] img{max-width:1.875pc;}[class~=carousel],[class~=experience-card]{display:flex;}body{margin-bottom:0;}[class~=social-box] img,[class~=social-box] img{padding-left:3.75pt;}[class~=carousel]{transition:transform .5s ease-in-out;}[class~=carousel-item],[class~=experience-card]{position:relative;}#exp-readmore{border-top-color:#c8c8c8;}[class~=carousel-item]{flex-shrink:0;}[class~=carousel-item]{width:100%;}[class~=social-box] img,[class~=social-box] img:nth-child(3),[class~=social-box] img{padding-top:3.75pt;}[class~=experience-card]{height:7.291666667in;}[class~=social-box] img{transition:transform ease .3s,padding .3s;}[class~=experience-card]{flex-direction:column;}[class~=social-box] img,[class~=social-box] img:nth-child(3){display:block;}[class~=experience-card]{width:28.125pc;}[class~=social-box] img{padding-bottom:.052083333in;}[class~=social-box] img,[class~=social-box] img:nth-child(3){margin-left:auto;}#exp-readmore{border-image:none;}#exp-readmore{padding-left:.4375pc;}[class~=experience-card]{background-color:#212020;}[class~=experience-card],#exp-readmore{border-radius:.15625in;}[class~=experience-card],[class~=social-box]{padding-left:.104166667in;}[class~=social-box],[class~=experience-card]{padding-bottom:.104166667in;}[class~=experience-card],[class~=social-box]{padding-right:.104166667in;}[class~=social-box],[class~=experience-card]{padding-top:.104166667in;}[class~=experience-card]{flex:1 1 500px;}[class~=experience-card] > [class~=experience-card-content]{position:absolute;}[class~=experience-card]{text-align:center;}[class~=experience-card]{color:#fff;}[class~=experience-card]{font-size:larger;}.carousel-wrapper:hover .prev{transform:scale(1.5) translate(0,-50%) translateX(0);}#exp-readmore{padding-bottom:.4375pc;}[class~=social-box] img,[class~=social-box] img:nth-child(3){margin-bottom:auto;}[class~=experience-card]{box-shadow:0 .041666667in 6pt rgba(0,0,0,.5);}[class~=experience-card]{box-sizing:border-box;}.carousel-wrapper:hover .prev{transition:transform .3s;}#exp-readmore{padding-right:.4375pc;}[class~=social-box] img:nth-child(3),[class~=social-box] img{margin-right:auto;}[class~=experience-card]{max-width:375pt;}[class~=experience-card]{aspect-ratio:3/4;}[class~=experience-card]{transition:transform .2s linear;}[class~=IE-break]{margin-top:150px;}#exp-readmore{padding-top:.4375pc;}[class~=IE-break]{margin-bottom:37.5pt;}[class~=social-box]{flex:1;}[class~=social-box] img:nth-child(3),[class~=social-box] img{margin-top:auto;}[class~=experience-card] > [class~=experience-card-content]{z-index:2;}[class~=social-box],#exp-readmore,[class~=experiences-readmore],[class~=social-box]{display:flex;}[class~=social-box]{position:fixed;}#exp-readmore{max-height:min-content;}[class~=social-box]{bottom:15pt;}#exp-readmore,[class~=social-box],[class~=social-box],[class~=experiences-readmore]{justify-content:center;}[class~=social-box]{right:.208333333in;}[class~=social-box]{background:#9c9c9c;}[class~=experiences-readmore],[class~=social-box],#exp-readmore,[class~=social-box]{align-items:center;}[class~=social-box]{border-radius:15pt;}[class~=social-box]{box-shadow:0 4px .0625in rgba(0,0,0,.1);}[class~=social-box]:hover{background-color:#626161;}.icon img{width:100%;}[class~=social-box]{font-weight:bold;}[class~=social-box]{transition:transform .3s ease-in-out,bottom .3s ease-in-out,right .3s ease-in-out,background .3s;}[class~=social-box]{width:auto;}[class~=social-box]{min-width:3.125pc;}[class~=social-box]{max-height:auto;}[class~=social-box]:hover{transform:scale(1.2) translateY(-10%) translateX(-10%) scaleX(1.2);}.icon img{height:100%;}[class~=social-box]{z-index:50000;}[class~=social-box]{transform:scale(0) translateX(200px);}body{margin-right:0;}.icon img{object-fit:fill;}[class~=social-box]:hover{transition:transform .3s,background .3s;}[class~=icon],[class~=carousel-wrapper]:hover [class~=next]{transition:transform .3s;}body{margin-top:0;}[class~=social-box]{min-width:unset;}[class~=experiences-readmore]{height:auto;}[class~=experiences-readmore]{width:100vw;}[class~=carousel-wrapper]:hover [class~=next]{right:0pc;}[class~=experiences-readmore]{padding-bottom:15pt;}[class~=carousel-wrapper]:hover [class~=next]{transform:scale(1.5) translate(0,-50%) translateX(0);}body{padding-left:0;}body{padding-bottom:0;}body{padding-right:0;}[class~=carousel-wrapper]:hover > [class~=dot]{transform:scale(1);}body{padding-top:0;}hr{width:50vw !important;}*,*{font-family:"Lato",sans-serif !important;}#experiences:hover > .experience-card::after{opacity:1;}@media (max-width: 600px){[class~=bio],#home{width:90vw;}[class~=bio],#home{margin-left:auto;}#home,[class~=bio]{margin-bottom:0;}#home,[class~=bio]{margin-right:auto;}[class~=bio],#home{margin-top:0;}[class~=bio],#home{font-size:.416666667in;}[class~=bio]{font-size:.208333333in !important;}[class~=bio]{margin-top:20px;}[class~=intro-page]{padding-left:0in;}[class~=intro-page]{padding-bottom:0in;}[class~=intro-page]{padding-right:0in;}[class~=intro-page]{padding-top:0in;}[class~=intro-page]{width:100vw;}[class~=intro-page]{height:100vh;}[class~=intro-page]{flex-direction:column;}[class~=intro-page]{text-align:center;}.intro-text{width:90%;}.intro-text{margin-bottom:1.25pc;}[class~=carousel-container],.carousel-item,[class~=carousel-wrapper],.pagination-arrows{width:90vw;}[class~=carousel-container]{padding-left:0;}[class~=carousel-container]{padding-bottom:0;}[class~=carousel-container]{padding-right:0;}#home{font-size:40px !important;}[class~=carousel-container]{padding-top:0;}[class~=prev],[class~=next]{transform:scale(1.2) translate(0,-50%);}#me{font-size:.145833333in !important;}[class~=prev],[class~=next]{padding-left:.3125pc;}[class~=prev],[class~=next]{padding-bottom:.3125pc;}[class~=prev],[class~=next]{padding-right:.3125pc;}[class~=prev],[class~=next]{padding-top:.3125pc;}body{text-align:left;}[class~=loader-wrapper] [class~=progress-bar]{width:80%;}}@media (min-width: 601px) and (max-width: 1024px){[class~=intro-page]{flex-direction:column-reverse;}[class~=intro-page]{padding-left:1.875pc;}[class~=intro-page]{padding-bottom:1.875pc;}[class~=intro-page]{padding-right:1.875pc;}[class~=intro-page]{padding-top:1.875pc;}[class~=intro-text]{width:80%;}[class~=intro-text]{padding-left:.208333333in;}[class~=intro-text]{padding-bottom:.208333333in;}[class~=intro-text]{padding-right:.208333333in;}[class~=intro-text]{padding-top:.208333333in;}.carousel-container{padding-left:11.25pt;}.carousel-container{padding-bottom:0;}.carousel-container{padding-right:11.25pt;}.carousel-container{padding-top:0;}[class~=carousel-wrapper],[class~=carousel] img{width:100%;}[class~=intro-text] h1{font-size:2rem;}} */